body
{
  font-family: sans-serif;
}

#overlay
{
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  z-index: 1000; /* High z-index to be on top of other elements */
  display: none; /* Hidden by default */
}

.loadsave
{
  float: right;
  position: absolute;
  left: 980px;
  top: 20px;
  text-align: right;
}

@media (max-width: 1000px)
{
 .loadsave
 {
   left: auto;
   right: 20px;
 }
}

.version
{
  font-size: 8px;
  color: #333;
}

#files
{
  width: 120px; 
  margin-right: 20px;
  margin-bottom: 20px;
}

#files:focus + #checkboxes, 
#checkboxes:hover
{
  display: block;
}

#checkboxes
{
  font-size: 12px;
  margin-left: 10px;
  min-width: 240px;
}

.subopt
{
  padding-left: 1.5em;
}

.legend
{
  position: absolute;
  left: 180px;
  color: white;
  opacity: 0;
}

.patient
{
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.main
{
  border: 0;
  border-collapse: collapse;
}

.main > tbody > tr > td > h2
{
  white-space: nowrap;
}


.main > tbody > tr > td
{
  vertical-align: top;
}

.main > tbody > tr > td:first-child
{
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.divider-top > td
{
  border-right: 0 !important;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.divider-bottom > td
{
  border-right: 0 !important;
  margin-bottom: 10px;
}

.main input
{
  width: 80px;
  text-align: right;
}

.main input[type=checkbox],
.main input[type=radio]
{
  width: revert !important;
}

.main select
{
  width: 80px;
}

.main table
{
  border: 0;
}

.main svg
{
  border: 1px solid #CCC;
  padding: 5px;
  margin-top: 10px;
}

#output {
  border: 1px solid gray;
  position: absolute;
/*  top: 0;
  left: 320px; */
  height: 200px;
  width: 500px;
  overflow-y: auto;
  font-family: monospace;
}
#clearoutput {
/*
  position: absolute;
  top: 210px;
  left: 320px;
*/
  margin: 10px;
}

.psel
{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.getdata
{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
}


.error
{
  color: red;
  font-weight: bold;
}

@media print
{
 button,
 .version
 {
  display: none;
 }
}
